{% extends 'base.html' %}

{% block title %} Главная {% endblock %}

{% block content %}


    <h2>Список команд</h2>

    <table class="table" border="1">
        <thead>
            <tr>
                <th>Название команды</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for row in teams %}
                <tr>
                    <td><b>{{ row.name }}</b></td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'team_update' row.pk %}">Редактировать</a> |
                        <a class="btn btn-danger" href="{% url 'team_delete' row.pk %}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<!-- Кнопка для добавления новой команды -->
    <br>
    <a href="{% url 'add_team' %}" class="btn btn-primary">Добавить команду</a>

{% endblock %}
